<nav class="header_content clearfix">
    <div class="nav_left">
        <div class="com_logo fl"></div>
        <h3 class="com_logo_title fl">互联网智能家装</h3>
    </div>
    <ul class="nav_right">
        <li class="nav_right_item">
            <div class="nav_icon-home"></div>
            <h3 class="nav_title">主页</h3>
        </li>
        <li class="nav_right_item">
            <div class="nav_icon-super"></div>
            <h3 class="nav_title">超级HOME1.0</h3>
        </li>
        <li class="nav_right_item">
            <div class="nav_icon-loan"></div>
            <h3 class="nav_title">贷款</h3>
        </li>
        <li class="nav_right_item">
            <div class="nav_icon-community"></div>
            <h3 class="nav_title">社区</h3>
        </li>
        <li class="nav_right_item">
            <div class="nav_icon-login"></div>
            <h3 class="nav_title">登录 / 注册</h3>
        </li>
    </ul>
</nav>