html{
  height:1%; 
}
body{
  background: none; 
  background-color: #f4f4f4;
  font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif; 
  font-size: 14px; 
  color: #515151; 
  margin: 0; 
  padding: 0;
}
body input,body textarea{
  font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif;
  background-color: white; 
  outline: none;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span,dl,ul,li{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
a{
  color: #515151; 
  text-decoration:none;
}
a:hover {
  color: #000; 
  text-decoration:none;
}
a:focus {
  outline:none;
  -moz-outline:none;
}
*, *:before, *:after {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: -moz-none;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: pan-y;
}
body, html {
  -ms-overflow-style: none !important;
  width: 100%;
}
body{
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  color: #000000;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  background: #f4f4f4;
}
input, textarea {
  -webkit-user-select: text;
  -moz-user-select: -moz-text;
  -moz-user-select: text;
}
img {
  border: none;
}
p {
  display: block;
  margin: 6px 0;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}
section{

}
section img{
  width: 100%;
  overflow: hidden;
}

header {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 250;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  left: 0;
  right: 0;
}

.center{
  text-align: center;
}
.left{
  float: left;
}
.right{
  float: right;
}
.top10{
  margin-top: 10px;
}

.view {

}

.detail{
  width: 100%;  
  /*background: url(/static/image/activity/detail-bg.jpg) no-repeat;*/
  background-size: 100%;
  text-align: center;
  position: absolute;
  background: #fff;
}

.detail-title {
  width: 100%;
  background: url("/static/image/activity/neighbor/mobile/header.jpg") no-repeat;
  height: 275px;
  background-size: 100%;
}

/*
.detail-title{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}
.detail-title img{
  width: 100%;
}*/
.zc{
  width: 100%;
  background-size: 100%;
  text-align: center;
}
.header_img{
  background: url(/static/image/activity/neighbor/mobile/header.jpg) no-repeat;
  width: 100%;
  background-size: 100%;
  height:280px;
}
.zc .start{
  width: 100%;
  margin-top: 100%;
  text-align: center;
}
.zc-start-button{
  width: 60%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1dd2af;
  border-radius: 5px;
  color: #fff;
  border: 0;
}
.info-list{
  width: 90%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  color: #b5b5b3;
  background-color: #fafafa;
  border: 1px solid #b9d5dc;
}
.info-list p{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.info-list ul{

}
.info-list ul li{
  width: 100%;
  line-height: 22px;
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  background: url(/static/image/activity/li-icon.png) no-repeat left 8px;
}
.privilege{
  width: 90%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: #fafafa;
  border: 1px solid #b9d5dc;
}
.privilege-area .title .p1{
  font-size: 20px;
  font-weight: bold;
  color: #636363;
}
.privilege-area .title .p2{
  font-size: 14px;
  color: #7d7d7d;
}
.privilege-content p{
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #9f9f9f;
}
.privilege-button{
  width: 60%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #b2ce43;
  border-radius: 5px;
  border: 0px;
}

.apply{
  width: 100%;
  background-size: 100%;
  text-align: center;
  position: absolute;
  background: #fff;
}
.apply-title{
  width: 100%;
  text-align: center;
}
.apply-title img{
  width: 100%;
}
.apply-footer{
  height: 30px;
  line-height: 30px;
  font-size: 14px;  
}
.apply-footer span{
  float: left;
}
.apply-footer span.p{
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.apply-footer .a{ 
  padding-right: 30px; 
  font-size: 14px;
  background: url(/static/image/activity/arrow-right2.png) no-repeat right;  
}
.apply-footer .a{
  padding-left: 5px;
  color: #1dd2af;
  text-decoration: underline;
}
.apply-footer .arrow{

}
.apply-footer .arrow img{
  width: 30px;
}
.apply-form, .apply-footer{
  width: 90%;
  margin-right: auto;
  margin-left: auto; 
}
.form-element{
  width: 100%;
  margin-right: auto;
  margin-left: auto;  
  padding-top: 10px;
  float: left;
}
.form-element p{
  width: 100%;
  margin: 0px;
  color: #777777;
  font-size: 16px;
  text-align: left;
}
.pay-form-submit{
  width: 100%;
  margin-bottom: 15px;
}

.detail-title, .detail-banner {
  margin-left: auto;
  margin-right: auto;
}

.detail-banner {
  width: 94%;
  margin-left: 3%;
  margin-top: 20px;
  min-height: 126px;
  background-size: 100%;
  height: 260px;
  border: 1px solid rgba(29, 210, 175, 0.2);
}

.detail-banner-title {
  width: 84%;
  margin-left: 8%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 40px;
  height: 90px;
  font-size: 26px;
  font-weight: bold;
  color: #717070;
  border: 1px solid rgba(139, 139, 139, 0.5);
}

.detail-banner .button-area {
  margin-top: 40px;
}

/*
.detail-title, .detail-banner{
  margin-left: auto;
  margin-right: auto;
}
.detail-banner{
  width: 100%;
  min-height: 118px;
  padding-top: 46px;
  background: url(/static/image/activity/detail-banner.jpg) no-repeat right;
  background-size: 100%;  
}
.detail-banner .button-area{
  
}
*/
.button-area .button{
  width: 50%;
  text-align: center;
  float: left;
}
/*.detail-banner p{*/
  /*width: 100%;*/
  /*height: 30px;*/
  /*line-height: 30px;*/
  /*font-size: 16px;*/
  /*padding-top: 80px;*/
  /*color: #666666;*/
/*}*/
.detail-banner-button {
  width: 88%;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #fe9c54;
  border-radius: 5px;
  border: 0px;
}
.detail-content{
  background-color: #fff;
  display: block;
  overflow: hidden;
}
.detail-area{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  background-color: #fff;
  margin-top: 10px;
}
.desciption{
  width: 94%;
  margin-left:3%;
  margin-top: 15px;
  float: left;
  border: 1px solid rgba(29, 210, 175, 0.2);
}
.desciption-title{
  color: #434343;
}
.desciption-title .p1{
  font-size: 20px;
  line-height: 30px;
}
.desciption-title .p1 .p1-money{
  color: #1dd2af;
}
.desciption-title .p2{
  font-size: 15px;
  line-height: 26px;
}
.author{
  height: 40px;
  line-height: 40px;
  color: #434343;
}
.desciption-content{
  line-height: 20px;
  font-size: 12px;
  color: #747474;
}
.user-list{
  width: 94%;
  margin-left: 3%;
  text-align: left;
  margin-top: 30px;
  border: 1px solid rgba(29, 210, 175, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
}
.user-list p{
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #3c3c3c;
  text-align: left;
  margin-left: 20px;
}
.user-list-table{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: #636363;
  font-size: 14px;
  margin-top: 10px;
}
.content-menu{
  width: 100%; 
  margin-top: 50px;
  margin-bottom: 20px;
  float: left;
}
.content-menu-sub{
  width: 33%;
  padding-bottom：20px;
  float: left;
  text-align: center;
}
.content-menu-title{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #1dd2af;
}
.content-menu-content{
  width: 80px;
  height: 80px;
  line-height: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #fff;
  background-color: #fff;
  border-radius: 50px;
  border:1px solid #1dd2af;
  color:#333333;
  font-size: 21px;
  padding-top: 15px;
}

.share{
  padding-top:10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.share p{
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0px auto;
  font-size: 20px;
  color: #707070;
}
.share .weibo, .share .weixin{
  width: 50%;
  text-align: center;
  float: left;
}
.share .weibo img, .share .weixin img{
  width: 50px;
  margin-left: 80%;
}
.share .weixin{

}



.subscribe button{
  width: 60%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  background-color: #1dd2af;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  font-size: 18px; 
  border: 0px;
}
.subscribe p{
  font-size: 16px; 
  color: #4a4a4a;
}


#ten img{
  width: 100%;
}
.bx-prev{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background: url(/static/image/activity/arrow-left.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 10001;
  float: left;
}
.bx-next{
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background: url(/static/image/activity/arrow-right.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 10001;
  float: right;
}

.form{
  padding-top: 20px;
  background-color: #fff;
}
.info-form-button{
  height: 36px;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  background-color: #1dd2af;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top:20px;
}
.info-form-submit{
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.get-verify-code{
  width: 88px;
  margin-left: 6px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
.form-label, .form-input{
  line-height: 36px;
  border: 1px solid #1dd2af;
  border-radius: 2px;
}
.form-label{
  width: 20%;
  text-align: center;
  color: #333232;
  font-size: 14px;
  font-weight: bold;
  float: left;
}
.form-input{
  width: 100%;
  margin-top:5px;
  margin-bottom: 5px;
  font-size: 14px;
  float: left;
}
.form-input .text-input{
  width: 100%;
  height: 36px;
  padding-left: 5px;
  line-height: 36px;
  background-color: #fff;
  border-radius: 5px;
  border: 0;
}
.form-input .text-input:hover{
  border: 1px solid #1dd2af;
}
.form-input .verify-code{
  width: 120px;
  height: 36px;
  padding-left: 5px;
  line-height: 36px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
  float: left;
}
.gender-button{
  width: 66px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #1dd2af;
  color: #303030;
  font-size: 16px;
  font-weight: bold;
  float: left;
}
.on{
  color: #fff;
  background-color: #1dd2af;
}
.month-list{
  width: 70%;
  float: left;
  overflow: hidden;
  margin-top: 5px;
}
.month{
  width: 60px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 30px;
  background-color: #cddfdc;
  border-radius: 5px;
  text-align: center;
  color: #000;
  font-size: 14px;
  float: left;
}
.month-list .on{
  background-color: #1dd2af;
  color: #fff;
}

.view-title{
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #1dd2af;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50px;
}

footer{
  padding-bottom: 20px;
}
.two-dimension{
  width: 100%;
  text-align: center;
  overflow: hidden;
  float: left;
}
.two-dimension .ptitle{
  width: 100%;
  margin: 0px;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #2d2d2d;
}
.two-dimension .pphone{
  width: 100%;
  margin: 0px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  color: #626262;
}
.two-dimension img{
  width: 50%;
}
.footer-nav{
  width: 100%;
  text-align: center;
  float: left;
}
.footer-nav ul{

}
.footer-nav ul li{
  margin-left: 2px;
  margin-right: 2px;
  float: left;
}
.footer-nav ul li a{ 
  padding-right: 5px; 
  font-size: 14px;
}

.footer-nav ul li a.rborder{ 
  border-right: 1px solid #585858;
}

.list_content{
  padding:0 10px;
  margin-top:10px;
}

.list_content ul li{
  background: #ffffff;
  margin-top:10px;
  display: list-item;
}

.list_content .list_top{
  min-height: 144px;
  max-height: 250px;
  overflow: hidden;
  vertical-align: middle;
  width:100%;
  height: 200px;
  position: relative;
}

.detail-img{
  margin-top: 10px;
  width:94%;
  height: 200px;
  margin-left: 3%;
  background-size: 100%;
}

.detail-img-top{
  color: #fff;
  float: left;
  margin-left: 2px;
  font-size: 13px;
  padding-top: 2px;
}

.list_top .district {
  display: block;
  float: left;
  z-index: 100;
  color: #fff;
  text-align: center;
  margin-top: 15%;
  position: relative;
  font-size: 22px;
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 60px;
  line-height: 50px;
  overflow-y: hidden;
}


.detail-img .district {
  display: block;
  float: left;
  z-index: 100;
  color: #fff;
  text-align: center;
  margin-top: 15%;
  position: relative;
  font-size: 22px;
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 60px;
  line-height: 50px;
  overflow: hidden;
}

.list_content .list_trail{
  padding-top: 15px;
  padding-bottom: 3px;
  padding-left:6px;
  padding-right:6px;
  box-sizing: border-box;
  display:box;
  display:-webkit-box;
  display: flex;
  display: -webkit-flex;
  width: 100%;
}

.flex_conf{
  flex: 3;
  -webkit-flex: 3;
  box-flex: 3;
  -webkit-box-flex: 3;
}

.list_content .list_conf strong{
  font-size: 18px;
  color: #da2103;
  line-height: 18px;s
}

.list_content .list_conf .shit{
  font-size: 18px;
  color: #666;
  line-height: 18px;
}

.list_content .list_conf p{
  font-size: 15px;
  color: #666;
  line-height: 1.5em;
  word-break: break-all;
}

.list_top .list_top_footer{
  background: #5c5956;
  opacity: 0.85;
  float:left;
  margin-top: 151px;
  width: 100%;
  height: 25px;
  display: block;
  position: absolute;
  text-align: left;
  padding-left: 5px;
  padding-top:6px;
  font-size: 12px;
  color: #fff;
}

.detail-img .list_top_footer{
  background: #5c5956;
  opacity: 0.85;
  float:left;
  margin-top: 175px;
  width: 94%;
  height: 25px;
  display: block;
  position: absolute;
  text-align: left;
  padding-left: 5px;
  padding-top:6px;
  font-size: 12px;
  color: #fff;
}

/*.list_top_header{
  background: url("/static/image/activity/neighbor/mobile/arrow.png") no-repeat !important;
  z-index: 200;
  float:left;
  margin-left:-16%;
  margin-top: -1%;
  padding-top:6px;
  opacity: 0.8;
  width: 100%;
  height: 28px;
  display: block;
  color: #fff;
  text-align: center;
  margin-right: 2px;
  font-size: 14px;
  background-size: 100%;
  padding-right:16%;
}*/

.list_top_header{
  display: block;
  float:left;
  background: #31c5ae;
  padding-top:4px;
  opacity: 0.8;
  width: 46%;
  height: 24px;
  color: #fff;
  text-align: center;
  font-size: 14px;
    overflow:hidden;
  /*border-top-right-radius: 50px;*/
  /*border-bottom-right-radius: 50px;*/
}

.list_top_header_right{
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 24px solid #31c5ae;
    border-bottom: 12px solid transparent;
    margin-left:46%;
    opacity: 0.8;
}

.under_time{
  height:23px;
  float: left;
  margin-left:1px;
  margin-top:1px;
  width: 22px;
  background: #fff;
  /*border: solid 1px #1dd2af;*/
  border: solid 1px #fff;
  font-size:18px;
  border-radius: 2px;
  text-align: center;
}

.under_cons{
  height:23px;
  float: left;
  margin-top:1px;
  width: 20px;
  color:#fff;
  font-size:18px;
  text-align: center;
  padding-top:2px;
  margin-left: 1px;
}

.list_num{
  font-size:15px;
}

.detail-target{
  padding-top: 35px;
  padding-bottom: 3px;
  padding-left:6px;
  padding-right:6px;
  box-sizing: border-box;
  display:box;
  display:-webkit-box;
  display: flex;
  display: -webkit-flex;
  width: 100%;
}

.detail-target .list_conf strong{
  font-size: 24px;
  color: #da2103;
  line-height: 18px;
}

.detail-target .list_conf .shit{
  font-size: 24px;
  color: #666;
  line-height: 18px;
}

.detail-target .list_conf p{
  font-size: 14px;
  color: #666;
  line-height: 1.5em;
  word-break: break-all;
}

.super-home{
  background: url("/static/image/activity/neighbor/mobile/super_home.jpg") no-repeat;
  background-size: 100%;
  width: 94%;
  margin-left: 3%;
  height: 460px;
  margin-top: 15px;
  float:left;
}

.super-home-button{
    float:left;
    background: #1dd2af;
    width: 46%;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 280px;
    margin-left: 26%;
    padding-top: 16px;
    color:#fff;
}

.list-found{
    float:left;
    background: #1dd2af;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 226px;
    margin-left: 30%;
    padding-top: 10px;
    color:#fff;
}

#shareit {
  -webkit-user-select: none;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  text-align: center;
  top: 0;
  left: 0;
  z-index: 105;
}
#shareit img {
  max-width: 100%;
}
