.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.fl {
    float: left;
}
html, body {
    margin: 0px;
    padding: 0px;
    background-color: #e8e9e4;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
i {
    display: inline-block;
}
a {
    color: #717171;
    text-decoration: none;
}
a:hover {
    color: #717171;
    text-decoration: none;
}


