.os_body_wrapper {
    width: 100%;
    background-color: #fff;
    padding-top: 78px;
    padding-bottom: 50px;
    font-family: "microsoft yahei";
}
.os_content {
    width: 1240px;
    margin: 0px auto;
    min-height: 650px;
}
.os_label {
    width: 1136px;
    height: 54px;
    margin: 0px auto;
    background-color: #1dd2af;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    font-size: 20px;
    line-height: 54px;
    padding-left: 20px;
}
.os_table {
    width: 1156px;
    margin: 0px auto;
    border: 1px solid #b5b5b5;
    border-top: none;
    border-collapse: collapse;
    font-size: 12px;
    color: #494949;
    line-height: 66px;
}
.os_table tr {
    height: 66px;
    border-bottom: 1px solid #b5b5b5;
}
.os_table-num {
    width: 284px;
    text-align: center;
}
.os_table-name {
    width: 117px;
    text-align: center;
}
.os_table-product {
    width: 176px;
    text-align: center;
}
.os_table-money {
    width: 185px;
    text-align: center;
}
.os_table-status {
    width: 145px;
    text-align: center;
}
.os_table-operation {
    /*width: 284px;*/
    text-align: center;
}

.os_op_btn {
    color: #1dd2af;
    margin-right: 10px;
}
.os_op_btn:hover {
    color: #1dd2af;
    text-decoration: underline;
}

/**
*  ordersheet detail
**/
.osd_content {
    width: 1156px;
    margin: 0px auto;
    border: 1px solid #b5b5b5;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    min-height: 756px;
}
.osd_icon_list {
    padding-top: 30px;
    height: 147px;
    border-bottom: 1px solid #b5b5b5;;
}
.osd_icon_list li {
    float: left;
    margin-left: 280px;
    cursor: pointer;
}
.osd_icon_list li:first-child {
    margin-left: 165px;
}
.osd_icon-sub {
    width: 90px;
    height: 90px;
    background: url("../img/order_sub.png") left top no-repeat;
}
.osd_icon-payOnline {
    width: 90px;
    height: 90px;
    background: url("../img/order_pay_online.png") left top no-repeat;
}
.osd_icon-payOffline {
    width: 90px;
    height: 90px;
    background: url("../img/order_pay_offline.png") left top no-repeat;
}
.osd_icon-title {
    font-size: 18px;
    color: #5d5d5d;
    width:90px;
    margin: 13px auto 0px;
    text-align: center;
}
.osd_house_info, .osd_product_info {
    height: 290px;
    padding-top: 22px;
    padding-left: 23px;
    border-bottom: 1px solid #b5b5b5;
}
.osd_info_title {
    font-size: 24px;
    color: #5d5d5d;
}
.osd_house_info_detail {
    margin-top: 25px;
    margin-left: 150px;
    font-size: 14px;
    color: #5d5d5d;
    line-height: 35px;
}
.osd_product_info_detail {
    border: 1px solid #b5b5b5;
    text-align: center;
    margin-top: 25px;
    border-collapse: collapse;
}
.osd_product-name {
    width: 350px;
    height: 70px;
    border: 1px solid #b5b5b5;
}
.osd_product-price {
    width: 370px;
    height: 70px;
    border: 1px solid #b5b5b5;
}
.osd_product-money {
    width: 370px;
    height: 70px;
    border: 1px solid #b5b5b5;
}












