@charset "utf-8";
body {
    margin:0px;
    background-color:#eeeeee;
}

img {
    width:100%; 
}

.bgcl{
	background-color:#1dd2af;
	padding:10px 80px;
	display:inline;	
	position:relative;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	color:#fff;
}

.ft48{
	font-size:22px;
}
.app_code{
    width:53%;
    margin-top:10px;
}

.app_phone{
    width:90%;
    margin-top:40px;
}

.appoint input{
    text-indent:10px;
    line-height:25px;
    margin-left:0px;
    border:none;
    outline:none;
    height:40px;
    color:#939393;
    font-size:18px;
    position:relative;
    border-radius:5px;
    behavior:url(/static/css/PIE.htc);
}
.yzm{
    display:inline-block;
    width:35%;
    height:48px;
    margin-left:2%;
    background-color:#9cd4c9;
    color:#fff;
    font-size:18px;
    margin-top:10px;
    cursor:pointer;
    border-radius:5px;
    text-align:center;
    line-height:48px;
}

.menu_img {
    position:fixed;
    width:100%;
    height:50px;
    /*background-image:url('/static/image/wechat/menu.jpg');*/
    background-color:#333333;
    text-align:center;
    line-height:50px;
}

*{margin:0;padding:0;list-style:none;border:0;}

/* main_image */
/*.main_visual{height:422px;border-top:1px solid #d7d7d7;overflow:hidden;position:relative;}*/
.main_image{height:100px;overflow:hidden;position:relative;}
.main_image ul{width:100%;height:422px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:422px;}
.main_image li span{display:block;width:100%;height:422px}
.main_image li a{display:block;width:100%;height:422px}
.main_image li .img_1{background:url('/static/image/wechat/1.jpg') center top no-repeat}
.main_image li .img_2{background:url('/static/image/wechat/2.jpg') center top no-repeat}
.main_image li .img_3{background:url('/static/image/wechat/1.jpg') center top no-repeat}


div.flicking_con{position:absolute;top:360px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:100px;}
