<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Sheet</title>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/ordersheet.css"/>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
<!--header-->
<header id="header" class="header_wrapper"></header>

<!--order sheet body-->
<div class="os_body_wrapper">
    <div class="os_content">
        <div class="os_label">订单详情</div>
        <div class="osd_content">
            <ul class="osd_icon_list clearfix">
                <li>
                    <i class="osd_icon-sub"></i>
                    <div class="osd_icon-title">预定购买</div>
                </li>
                <li>
                    <i class="osd_icon-payOnline"></i>
                    <div class="osd_icon-title">在线支付</div>
                </li>
                <li>
                    <i class="osd_icon-payOffline"></i>
                    <div class="osd_icon-title">线下支付</div>
                </li>
            </ul>
            <div class="osd_house_info">
                <h3 class="osd_info_title">房屋信息</h3>
                <ul class="osd_house_info_detail">
                    <li>姓名：<span>赵江伟</span>先生</li>
                    <li>电话：<span>132456789</span></li>
                    <li>所在地区：<span>朝阳区</span></li>
                    <li>户型/面积：<span>二居室/90.00m</span></li>
                </ul>
            </div>
            <div class="osd_product_info">
                <h3 class="osd_info_title">产品信息</h3>
                <table class="osd_product_info_detail">
                    <thead>
                    <th class="osd_product-name">产品名称</th>
                    <th class="osd_product-price">单价</th>
                    <th class="osd_product-money">定金</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="osd_product-name">新房699家装套餐</td>
                        <td class="osd_product-price">699元/平米</td>
                        <td class="osd_product-money">1000元</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!--footer-->
<footer class="footer_wrapper" id="footer"></footer>
</body>
</html>